<%= render partial: "shared/header" %>
<div class="recipes-container">
<p>
  <%= link_to "Add recipe", new_recipe_path, class: "btn btn-primary" %>
</p>

<ul class="recipes">
  <% @recipes.each do |recipe| %>
    <li class="recipe-container">
      <p class="name-remove">
        <strong><%= link_to recipe.name, recipe %></strong>
        <%= link_to "Remove", recipe, method: :delete, data: { confirm: "Are you sure you want to delete this recipe?" }, class: "btn btn-danger" %>
      </p>
      <p>Description for the recipe: <%= recipe.description %></p>
    </li>
  <% end %>
</ul>
</div>
