<%= render partial: "shared/header" %>
<h1 class="recipe-header"><%= @recipe.name %></h1>
<div class="recipe-info-container">
  <div class="recipe-info">
    <p>Preparation Time: <%= @recipe.preparation_time %> minutes</p>
    <p>Cooking Time: <%= @recipe.cooking_time %> minutes</p>
    <p>Description: <%= @recipe.description %></p>
  </div>
  <% if @recipe.public %>
    <p>Public: <span class="is-public">Yes</span></p>
  <% else %>
    <p>Public: <span class="is-not-public">No</span></p>
  <% end %>
</div>
